.bg-image {
    background-image: url("../img/arrierePlan2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    overflow: auto;
}

.dropdown-item:hover {
    background-color: #0d6efd;
}
